@import "@/styles/common.scss";

.reset-password-wrapper .reset-password-form-wrapper {
  .ant-form {
    display: grid;
    row-gap: 5px;
    .ant-form-item {
      margin-bottom: 0;
      &-control {
        @include input-with-message;
      }
    }
  }
  .guide {
    margin-bottom: 16px;
    text-align: center;
  }
  .ant-btn {
    @include primary-rounded-button;
    margin-top: 10px;
  }
}
