@import "@/styles/common.scss";
.activity-modal-wrapper {
  .ant-modal-body {
    max-height: 75vh;
    overflow-y: auto;
    @include scrollbar-style;
    .activity-modal-wrapper-inner {
      .ant-picker,
      .ant-input-number {
        width: 100%;
      }

      .form-flex {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
      }
    }
  }
}
