.calendar-wrapper .activity-detail-wrapper {
  .note {
    margin-top: 10px;
  }
  .images {
    .ant-image {
      margin-top: 10px;
      max-width: 100px;
      min-width: 30px;
      margin-right: 10px;
    }
  }
}
