@import "@/styles/common.scss";

.detail-handbook-wrapper {
  @include rounded-card(#fff, 15px);
  padding: 25px;
  max-width: 800px !important;
  width: 95vw !important;
  > * + * {
    margin-top: 20px;
  }
  @media only screen and (max-width: 600px) {
    padding: 15px;
  }
}
