@import "@/styles/common.scss";

.tracking-weight-wrapper .grow-note-chart-wrapper {
  @include rounded-card(#fff, 15px);
  padding: 20px;
  h3 {
    text-align: center;
    color: var(--primary-color);
  }
  &-inner {
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
