@import "@/styles/common.scss";
.profile-home-wrapper {
  @include rounded-card(#fcfcfc, 10px);
  padding: 20px;
  overflow-y: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
}
