.story-detail-wrapper .story-images-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(190, 190, 190, 0.2);
  &-inner {
    height: 100%;
    width: 600px;

    .slick-slide {
      height: 85vh;
      display: flex !important;
      justify-content: center;
      align-items: center;
      img {
        max-width: 600px !important;
        max-height: 85vh;
        width: auto !important;
      }
    }
    .slick-arrow {
      width: 40px;
      height: 40px;
      color: var(--primary-color);
      z-index: 9999;
      border-radius: 50%;
      display: flex !important;
      justify-content: center;
      align-items: center;
      > svg {
        height: 24px;
        width: 24px;
      }
      &.slick-prev {
        left: 3px;
        &:hover,
        &:focus {
          color: var(--primary-color);
        }
      }
      &.slick-next {
        right: 3px;
        &:hover,
        &:focus {
          color: var(--primary-color);
        }
      }
    }
  }
}
