.calendar-wrapper {
  .ant-upload-list-picture-card-container {
    .ant-upload-list-picture-card-container {
      max-width: 100px;
      height: auto;
    }
    .image-preview-mask {
      width: 80%;
      display: flex;
      justify-content: space-around;
      font-size: 20px;
    }
  }
}
