.chat-wrapper .chat-header-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 0 10px;
  background-color: #b8b3da;
  margin: 0 -10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px;
  .ant-typography {
    color: #fff !important;
  }
  .ant-avatar {
    margin-right: 10px;
  }
  .ant-btn {
    margin-left: auto;
    padding: 0;
    .anticon {
      font-size: 32px;
    }
  }
}
